.traceabilityChainPage {
  min-height: 90vh;
}

.mobileTraceabilityChain {
  display: flex;
  flex-direction: row;
  height: 40rem;
  justify-content: space-between;
  padding: 5.375rem 0 0;
}

.desktopTraceabilityChain {
  display: none;
}

.smogTextImg {
  animation: smog-animation 3s infinite ease-in-out;
  height: 13rem;
  margin-left: 1rem;
}

.smogText {
  animation: smog-animation 3s infinite ease-in-out;
  color: rgb(139, 152, 170);
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  left: 2.5rem;
  position: absolute;
  text-align: center;
  text-transform: initial;
  top: 9.5rem;
  width: 10rem;
}

.teapot {
  height: 25rem;
  position: absolute;
  right: 0;
  top: 16rem;
}

@keyframes smog-animation {
  0% {
    opacity: 0.5;
    transform: translateY(0);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}

@media (min-width: 1025px) {
  .traceabilityChainPage {
    height: 100%;
    min-height: 100%;
  }

  .mobileTraceabilityChain {
    display: none;
  }

  .desktopTraceabilityChain {
    display: block;
    height: 45rem;
    position: relative;
    width: 100%;
  }

  .teapot__section {
    height: 650px;
    margin: 0 auto;
    position: relative;
    width: 800px;
  }

  .smogTextImg {
    height: 280px;
    left: 0;
    position: absolute;
    top: 100px;
    width: 380px;
  }

  .smogText {
    left: 50px;
    top: 200px;
    width: 300px;
  }

  .desktopTeapot {
    bottom: 0;
    height: 550px;
    position: absolute;
    right: 0;
  }

  .rug {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .smog {
    animation: smog-animation 3s infinite ease-in-out;
    bottom: 185px;
    left: 200px;
    position: absolute;
  }
}
